	
	<div class="topBar clearfix hidden-xs">
		
		<div class="searchBox pull-left">
			<input type="text" placeholder="Filter Recipes By Name" ng-model="query.name">
		</div>	
		
        <ul class="nav nav-tabs pull-right">
        	<li class="active">
        		<a href="#byName" data-toggle="tab">
        			<i class="fa fa-sort-alpha-asc"></i>
        		</a>
        	</li>
        	<li>
        		<a href="#byDate" data-toggle="tab">
        			<i class="fa fa-calendar"></i>
        		</a>
        	</li>
        </ul>
		
	</div><!--topBar-->
	
	<hr style="margin-top: 0;" />
	
	<div class="tab-content clearfix">
		
		<div class="tab-pane fade in active" id="byName">
			
			<div class="recipesWrapper clearfix">
					    
				<div class="recipeBox col-md-4 col-xs-6 xxs-480" 
					ng-repeat="(key, recipe) in recipesArray | orderBy: 'name' | filter: query">
		
					<a ui-sref="get-recipe({ recipeId: recipe.$id })" class="picture" back-img="uploads/{{ recipe.picture }}"></a>
					<div class="details">
						<h3><a ui-sref="get-recipe({ recipeId: recipe.$id })">{{ recipe.name }}</a></h3>
					</div>
					
				</div>
				
			</div><!--recipesWrapper-->
			
		</div><!-- tab-pane -->
		
		<div class="tab-pane fade" id="byDate">
			
			<div class="recipesWrapper clearfix">
					    
				<div class="recipeBox col-md-4 col-xs-6 xxs-480" 
					ng-repeat="(key, recipe) in recipesArray | orderBy: 'created':true | filter: query">
		
					<a ui-sref="get-recipe({ recipeId: recipe.$id })" class="picture" back-img="uploads/{{ recipe.picture }}"></a>
					<div class="details">
						<h3><a ui-sref="get-recipe({ recipeId: recipe.$id })">{{ recipe.name }}</a></h3>
					</div>
					
				</div>
				
			</div><!--recipesWrapper-->
			
		</div><!-- tab-pane -->
		
	</div><!--tab-content-->
	
	
	
